<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
</head>
<body>

    <div class="content-container">
        <div class="question">
            <h3>Question 1</h3>
            <p>Embedding YouTube videos in modals requires additional JavaScript not in Bootstrap to automatically stop playback and more. See this helpful Stack Overflow post for more information.</p>
        </div>

        <div class="question">
            <h3>Question 1</h3>
            <p>Embedding YouTube videos in modals requires additional JavaScript not in Bootstrap to automatically stop playback and more. See this helpful Stack Overflow post for more information.</p>
        </div>

        <div class="question">
            <h3>Question 1</h3>
            <p>Embedding YouTube videos in modals requires additional JavaScript not in Bootstrap to automatically stop playback and more. See this helpful Stack Overflow post for more information.</p>
        </div>

        <div class="question">
            <h3>Question 1</h3>
            <p>Embedding YouTube videos in modals requires additional JavaScript not in Bootstrap to automatically stop playback and more. See this helpful Stack Overflow post for more information.</p>
        </div>
    </div>
    
</body>
</html>