<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ("../partials/head") %>
    <link rel='stylesheet' href='css/find-people.css'/>
    <title>Find People</title>
</head>
<body>
    <div class="page-container">
        <%- include ("../partials/navbar") %>

        <div class="page-main-content col-md-12 d-flex">
        <div class="col-md-1">
            <h2> filter</h2>
        </div>

        <!-- carousel -->
        <div id="profile-carousel" class="carousel slide custom-carousel-container mt-5 col-md-11" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-content col-md-12 text-center">

                        <div class="carousel-item active">
                            <figure>
                                <img class="custom-img-content rounded img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1525538182201-02cd1909effb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80" alt="First slide">
                                <figcaption>Duck 25</figcaption>
                            </figure>
                          </div>

                          <% for (i in profiles) { %>
                            <div class="carousel-item ">
                                <figure>
                                    <img class="custom-img-content rounded img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1544460848-32344b7004ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1647&q=80" alt="Second slide">
                                    <figcaption><%= profiles[i]['name']%>, <%= profiles[i]['age'] %></figcaption>
                                </figure>
                            </div>
                          <% } %>

                          <!-- <div class="carousel-item ">
                              <figure>
                                  <img class="custom-img-content rounded img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1442689859438-97407280183f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" alt="Third slide">
                                  <figcaption> Tree 25</figcaption>
                              </figure>
                          </div> -->

                    </div>
                    <div class="yes-no-buttons d-flex justify-content-center">
                        <button class='btn btn-outline-primary m-2' data-slide="next" href="#profile-carousel">Thumbs up </button>
                        <button class='btn btn-outline-primary m-2' data-slide="next" href="#profile-carousel">Thumbs down </button>
                    </div>
                </div>

                <!-- controls  -->
                <!-- <a class="carousel-control-prev custom-carousel-btns" href="#profile-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" style='filter: invert();' aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a> -->

                <!-- <a class="carousel-control-next custom-carousel-btns" href="#profile-carousel" role="button" data-slide="next">
                    <span aria-hidden="true" style='filter:invert();'> Next</span>
                    
                </a> -->
          </div>
        </div>
    </div>
</body>
</html>