.navbar-img{
    height: 1.2rem;
    margin-top:0.5rem;
}



header a{
    text-decoration: none;
    color: black;

    &:hover{
        text-decoration: none;
        color: rgba(255,120,171,1);
    }
}

