.navbar-img{
    height: 1.2rem;
    margin-top:0.5rem;
}



header a{
    text-decoration: none;
    color: black;

    &:hover{
        text-decoration: none;
        color: rgba(255,120,171,1);
    }
}

.responsive-header-background{
    display:none;
}

@media only screen and (max-width: 900px) {
    .responsive-header-background{
        background: linear-gradient(to right, rgba(255,120,171,1), rgba(117,179,220,1), rgba(138, 209, 241, 1));
    }

    .webpage-header{
        display:none!important;
    }

    .responsive-header{
        display:block;
    }

}



