    <header class='d-flex justify-content-between'>
       <div class="nav-options-container d-flex">
            <div class="find-people-container d-flex p-3">
                <h5 class='m-2'>Find People</h5>
                <img src='/assets/imgs_navbar/search.svg'>
            </div>
            <div class="messages-container d-flex p-3">
                <h5 class='m-2'>Messages</h5>
                <img src='/assets/imgs_navbar/comment.svg'>
            </div>
            <div class="profile-container d-flex p-3">
                <h5 class='m-2'>Profile</h5>
                <img src='/assets/imgs_navbar/profile.svg'>
            </div>
       </div> 

       <div class="logo-container">
           
            <img class='nav-bar-logo' style="height: 5rem" src='/assets/imgs_navbar/logo.svg'>
       </div>

       <div class="logout-container p-4">
           <h5>Logout</h5>
       </div>
    </header>
