    <header class='d-flex justify-content-between webpage-header'>
       <div class="nav-options-container d-flex ">
            <div class="find-people-container d-flex p-1">
                <a href='/find-people'>
                    <div class="find-people-content d-flex p-1">
                        <h6 class='m-2'>Find People</h6>
                        <img class='navbar-img'src='/assets/imgs_navbar/search.svg'>
                    </div>
                </a>
            </div>
            <div class="messages-container d-flex p-1">
                <a href='/socket/rooms'>
                    <div class="messages-content d-flex p-1">
                        <h6 class='m-2'>Messages</h6>
                        <img class='navbar-img' src='/assets/imgs_navbar/comment.svg'>
                    </div>
                </a>

            </div>
            <div class="profile-container d-flex p-1">
                <a href='/profile'>
                    <div class="profile-content d-flex p-1">
                        <h6 class='m-2'>Profile</h6>
                        <img class='navbar-img' src='/assets/imgs_navbar/profile.svg'>
                    </div>
                </a> 
            </div>
        </div> 

        <div class="logo-container">
           <!-- logo -->
            <img class='nav-bar-logo' src='/assets/logo.svg'>
        </div>
        <a href='/logout'>
            <div class="logout-container p-2">
                <h5>Logout</h5>
            </div>
        </a>



   
    </header>


    <div class="pos-f-t ">

        <nav class="navbar navbar-dark responsive-header-background">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsivenavbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>

        <div class="collapse" id="responsivenavbarToggleExternalContent">
          <div class="bg-light p-4">
            <a href='/find-people'>
                    <h5 class='text-muted'>Explore</h5>
            </a>
            <a href='/socket/chat'>
                    <h5 class='text-muted'>Messages</h5>
            </a>
            <a href='/profile'>
                    <h5 class='text-muted'>Profile</h5>
            </a> 
            <a href='/logout'>
                    <h5 class='text-muted'>Logout</h5>
            </a>

          </div>
        </div>

 
      </div>


      <div class="pos-f-t nav-filter-dropdown">
        <nav class="navbar pl-0">
            <button class="navbar-toggler pl-0" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span><h4 >FILTER ✂️</h4></span>
            </button>
          </nav>
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-light p-2">
              <div class="custom-control custom-switch d-flex justify-content-between m-1 p-0">
                <label for="customSwitch1" class='mr-2'>Smoking</label>
                <input type="checkbox" checked data-toggle="toggle" data-onstyle="secondary">
              </div>
              
              <div class="custom-control custom-switch d-flex justify-content-between m-1 p-0">
                  <label for="customSwitch2" class='mr-2'>Active</label>
                  <input type="checkbox" checked data-toggle="toggle" data-onstyle="secondary">
              </div>

              <div class="custom-control custom-switch d-flex justify-content-between m-1 p-0">
                <label for="customSwitch2" class='mr-2'>Lorem</label>
                <input type="checkbox" checked data-toggle="toggle" data-onstyle="secondary">
              </div>

              <div class="custom-control custom-switch d-flex justify-content-between m-1 p-0">
                <label for="customSwitch2" class='mr-2'>Ipsum</label>
                <input type="checkbox" checked data-toggle="toggle" data-onstyle="secondary">
              </div>

              <div class="custom-control custom-switch d-flex justify-content-between m-1 p-0">
                <label for="customSwitch2" class='mr-2' >Text</label>
                <input type="checkbox" checked data-toggle="toggle" data-onstyle="secondary">
              </div>

                <div class="custom-control custom-switch d-flex justify-content-between m-1 p-0">
                    <label for="customSwitch2" class='mr-2' >Religious: catholic</label>
                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="secondary">
                </div>



            <!-- <span class="text-muted">Smoking</span>
            <span class="text-muted">Active</span>
            <span class="text-muted">Sample</span>
            <span class="text-muted">Lorem</span>
            <span class="text-muted">Ipsum</span>
            <span class="text-muted">Chat</span> -->
          </div> 
        </div>
        
      </div>