<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Failed to Login</h1>
        <p class="lead">You've entered the wrong username or password.</p>
        <hr class="my-4">
        
        <p class="lead">
          Click <a class="btn btn-primary btn-lg" href="#" role="button">here</a> to try again. 
        </p>
      </div>
</body>
</html>