<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet" />
    <title>Login </title>
</head>
<body>
    <p>helo</p>
    <form action='/login' method='POST'>
        <input id="usernameInp" name="username" type="text" placeholder="Username" class="form-control input-md" required="">
        <input id="passwordInp" name="password" type="password" placeholder="Password" class="form-control input-md" required="">
        <button type='submit'> SUbmit </button>
    </form>
</body>
</html>