<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" type="text/css" href="/css/message.css" />
  </head>
  <body>
    <%- include ("./partials/navbar") %>
    <div class="content-container">

    
      <div class="matches-container col-md-2">
        <h3> MESSAGES </h1>
        <div class="match-one-container">
          <div class="room-container">
            <% Object.keys(rooms).forEach((room)=>{ %>
                <div><%= room %></div>
                <a href='/socket/<%= room %>'>Join</a>
            <% }) %>
    
          </div>

        <form class='room-form' action='/socket/rooms' method='POST'>
          <input type='text' name='formroom' required />
          <button type='submit'>Make new room</button>
      </form>

      </div>

    </div>

    <div class='chat-container col-md-10'>
        <ul id="messages"></ul>
        <form class='msg-form' action="">
          <div class="input-container col-md-12">
              <div class="chat-options-content">
                <div class="left-buttons dropup d-flex">
                  <button class='btn border dropdown-toggle p-0' data-toggle='dropdown' aria-haspopup="true" aria-expanded="false" type="button"><img class='chat-options-img'src='/assets/prompt-icon.svg'></button> 
                  <div class="dropdown-menu">
                    <ul class='list-group'>
                      <a href='##' class='suggestion-links'><li class='list-group-item'>can i make this a link</li></a>
                      <a href='#sample' class='suggestion-links'><li class='list-group-item'>Hurrah is a link!!!</li></a>
                      <a href='##' class='suggestion-links'><li class='list-group-item'>Now ineed more ocntent to fix this min height thing or it just might work because too long isnt that great anwyas </li></a>
                    </ul>  
                    </div>
                  <!-- <button class='btn border' type='button'><img src='/assets/smiley-emoticon.svg'></button> -->
                  <button class='btn border dropdown-toggle p-2' data-toggle='dropdown' aria-haspopup="true" aria-expanded="false" type="button"><img class='chat-smile-img'src='/assets/smiley-emoticon.svg'></button> 
                </div>
                <button class='btn custom-send-btn' type='submit'>Send</button>
              </div>
              <textarea rows=4 id="m" autocomplete="off"></textarea>
          </div>
        </form>
    </div>

    </div>

    <script defer src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script  src="/js/messaging.js"></script>

  </body>
</html>