<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" type="text/css" href="/css/message.css" />
  </head>
  <body>
    <%- include ("./partials/navbar") %>
    <div class="content-container">

    
      <div class="matches-container col-md-2">
        <h3> MESSAGES </h1>
        <div class="match-one-container">
        <p>SHaron</p>
      </div>

    </div>

    <div class='chat-container col-md-10'>
        <ul id="messages"></ul>
        <form class='msg-form' action="">
          <div class="input-container col-md-12">
              <div class="chat-options-content">
                <div class="left-buttons">
                  <button class='btn border'>Idea</button>
                  <button class='btn border'>emoji</button>
                </div>
                <button class='btn custom-send-btn'>Send</button>
              </div>
              <textarea rows=4 id="m" autocomplete="off"></textarea>
          </div>
        </form>
    </div>

    </div>

    <script defer src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script  src="/js/messaging.js"></script>
  </body>
</html>