<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random prompt</title>
</head>
<body>
    <% for (i in prompts) { %>
        <h3> <%= prompts[i]['prompt'] %> </h3>
    <% } %>
    
</body>
</html>