@import 'partials/_navbar';

*{
    padding: 0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
}

.custom-carousel-btns{
    height: 5rem; 
    width: 5rem; 
    margin-top: 12rem; 
}

.custom-img-content{
    width: 25rem;
    height: 25rem;
    overflow-y: hidden;
}

.navbar-toggler:focus{
    outline: none;
}




@media only screen and (max-width: 900px) {
    body{
        background:linear-gradient(180deg, rgba(255,255,255,1) 22%, rgba(138,209,241,1) 100%);
    }

    .responsive-filter{
         display: none;
    }

   .nav-filter-dropdown{
       display:block;
       margin-left: 1rem;
   }

    #profile-carousel{
        padding:0;
    }

    .carousel-content{
        padding:0;
    }

    .thumbsup{
        padding:3rem 4.5rem;
    }

    .thumbsdown{
        padding:3rem 4.5rem;
    }
}