@import 'partials/_navbar';

*{
    padding: 0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
}

.user-profile-img{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
}



.list-group-item{
    border-right: none;
    border-left: none;
    background: transparent;
    
}


.list-item-first{
    border-top: none;
}