* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.reponsive-section {
  display: none;
}

.FormCarousel {
  height: 30rem;
}

.logo-image-container {
  width: 50%;
  min-height: 20rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, white), to(#8ad1f1));
  background: linear-gradient(180deg, white 22%, #8ad1f1 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-input-container {
  width: 50%;
}

.custom-carousel-btns {
  height: 5rem;
  width: 5rem;
  margin-top: 12rem;
}

.custom-form-container {
  margin: 3rem;
  min-height: 20rem;
  overflow-y: hidden;
}

.second-custom-form-container {
  background: white;
  max-height: 100vh;
  margin: 3rem;
}

.gender-container .interested-in-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preferred-gender-text {
  margin-right: 0.6rem;
}

#preferred-gender {
  margin-right: 0.4rem;
}

.male-female-container {
  margin-right: 2.5rem;
}

.custom-gender-container {
  padding: 0;
}

.header-text {
  margin-top: 4rem;
  margin-left: 3.75rem;
}

.header-text .welcome-text {
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
}

.header-text .instruction-text {
  font-size: 1rem;
  color: #464646;
  text-align: left;
}

.interested-in-text {
  margin-top: 0.5rem;
}

.legend-text {
  padding-left: 1rem;
}

.form-one-container {
  font-weight: bold;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-confirmation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 0 auto;
}

.custom-confirmation-content-container {
  background: #8ad1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  color: white;
}

.confirmation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0 auto 0;
}

.confirmation-login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.repsonsive-back-to-login {
  display: none;
}

.blue_section {
  height: 100vh;
  width: 50%;
}

.logo-front {
  margin-top: 63%;
  height: 22.5rem;
}

@media only screen and (max-width: 900px) {
  .logo-image-container {
    display: none;
  }
  .user-input-container {
    width: 100%;
    padding: 2rem;
  }
  .input-md {
    width: 100%;
  }
  .input-md-preferred {
    width: 70%;
  }
  body {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, white), to(#8ad1f1));
    background: linear-gradient(180deg, white 22%, #8ad1f1 100%);
  }
  .header-text {
    display: none;
  }
  .carousel-inner {
    height: 100%;
  }
  .custom-form-container {
    margin: 0;
    margin-top: 3rem;
  }
  .second-custom-form-container {
    background: transparent;
    margin: 0;
    margin-top: 3rem;
  }
  .carousel-indicators {
    display: none;
  }
  .custom-carousel-btns {
    margin-top: 0rem;
    padding-top: 0 !important;
    height: 3rem;
  }
  .repsonsive-back-to-login {
    display: block;
    text-align: center;
  }
}
/*# sourceMappingURL=signup.css.map */