*{
    padding: 0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    
}

body{
    display: flex;
    height: 100vh
}

.FormCarousel{
    height: 30rem;
}

.logo-image-container{
    width: 50%;
    min-height: 20rem;
    background:linear-gradient(180deg, rgba(255,255,255,1) 22%, rgba(138,209,241,1) 100%);
}
.user-input-container{
    width: 50%;
}

.custom-carousel-btns{
    height: 5rem; 
    width: 5rem; 
    margin-top: 12rem; 
}

.custom-form-container{
    margin: 3rem;
    min-height: 20rem;
    overflow-y: hidden;

}

.second-custom-form-container{
    background: white;
    max-height: 100vh;
    margin: 3rem;
    
    
}

.gender-container .interested-in-container{
    display:flex;
}

.preferred-gender-text{
    margin-right: 0.6rem;
}

.male-female-container{
    margin-right: 2.5rem;
}

.custom-gender-container{
    padding: 0;
}

.header-text{
    margin-top: 4rem;
    margin-left: 3.75rem;
    .welcome-text{
        font-size: 1.5rem;
        text-align: left;
        font-weight: bold;
    }
    
    .instruction-text{
        font-size: 1rem;
        color: rgb(70, 70, 70);
        text-align: left;
    }
}

.interested-in-text{
    margin-top: 0.5rem;
    
}

.legend-text{
    padding-left: 1rem;
}

.form-one-container{
    font-weight:bold;
}

.btn-container{
    display:flex;
    justify-content: center;
}

