.navbar-img {
  height: 1.2rem;
  margin-top: 0.5rem;
}

.nav-bar-logo {
  height: 3rem;
  margin-right: 15rem;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  text-decoration: none;
  color: #ff78ab;
}

.responsive-header-background {
  display: none;
}

.nav-filter-dropdown {
  display: none;
}

@media only screen and (max-width: 900px) {
  .responsive-header-background {
    display: block;
    background: -webkit-gradient(linear, left top, right top, from(#ff78ab), color-stop(#75b3dc), to(#8ad1f1));
    background: linear-gradient(to right, #ff78ab, #75b3dc, #8ad1f1);
  }
  .webpage-header {
    display: none !important;
  }
  .responsive-header {
    display: block;
    height: 10rem;
  }
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.page-container {
  height: 100vh;
  overflow: hidden;
}

.mobile-heading-text {
  display: none;
}

.right-image-container {
  max-width: 50%;
  height: 20rem;
}

.list-group-item {
  border-right: none;
  border-left: none;
  background: transparent;
}

.list-group-item:hover {
  cursor: pointer;
}

.list-item-first {
  border-top: none;
}

.user-profile-img {
  width: 25rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-width: 100%;
}

#profile-img-input {
  margin-left: 25%;
}

.image-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-caption-content {
  background: -webkit-gradient(linear, left top, right top, from(#ff78ab), color-stop(#75b3dc), to(#8ad1f1));
  background: linear-gradient(to right, #ff78ab, #75b3dc, #8ad1f1);
  color: white;
}

.user-img-content-container {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, white), to(#8ad1f1));
  background: linear-gradient(180deg, white 22%, #8ad1f1 100%);
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.instagram-link-container a:hover {
  text-decoration: none;
  color: #8ad1f1;
}

.instagram-link-container a {
  color: black;
}

.responsive-text {
  display: none;
}

figcaption {
  color: white;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#ff78ab), color-stop(#75b3dc), to(#8ad1f1));
  background: linear-gradient(to right, #ff78ab, #75b3dc, #8ad1f1);
}

.settings-list-item-link {
  color: black;
  text-decoration: none;
}

.settings-list-item-link :hover {
  color: white;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  background: #8ad1f1;
}

.settings-list-item-link :visited {
  color: white;
  background: #8ad1f1;
}

.custom-active {
  background-color: #8ad1f1;
  opacity: 80%;
  border-color: #6ca8c4;
  border-radius: 5px;
  z-index: 2;
  color: white;
}

.change-picture-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-content-container {
  width: 100%;
}

.profile-edit-bio {
  display: none;
}

.profile-options {
  text-align: center;
}

.update-img-option {
  display: none;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .page-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: scroll;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, white), to(#8ad1f1));
    background: linear-gradient(180deg, white 22%, #8ad1f1 100%);
  }
  .mobile-heading-text {
    display: block;
    margin-top: 3rem;
  }
  .change-picture-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .change-picture-container .btn {
    margin: 1rem;
  }
  .user-img-content-container {
    min-height: 20rem !important;
  }
  .user-content-name {
    display: none;
  }
  .profile-bio-text {
    text-align: center;
  }
  .profile-edit-bio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .responsive-text {
    display: block;
    top: 2rem;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
  }
  .user-img-content-container {
    background: none;
    min-height: 100vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .user-profile-img {
    width: 25rem;
    height: 25rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .user-content-container {
    bottom: 3rem;
    top: 1rem;
    margin-bottom: 2rem;
  }
  .user-content-container h5 {
    display: none;
  }
  .prsnl-profile-content-big-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .settings-image {
    display: none !important;
  }
  .settings-update-image-btn {
    display: none !important;
  }
  .settings-page-container {
    height: 100vh !important;
  }
}
/*# sourceMappingURL=userprofile.css.map */