@import 'partials/_navbar';

*{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.page-container{
    // height: 100vh;
    overflow-y: scroll;
}

.mobile-heading-text{
    display:none;
}

.right-image-container{
    max-width: 50%;
    height: 20rem;
   
}

.list-group-item{
    border-right: none;
    border-left: none;
    background: transparent;
    &:hover{
        cursor: pointer;
    }
    
}
.list-item-first{
    border-top: none;
}


.user-profile-img{
    width:25rem;
    height: 25rem;
    object-fit: cover;
}

#profile-img-input{
    margin-left:25%;
}

.image-content-container{
    display:flex;
    justify-content: center;
}

.image-caption-content{
    background: linear-gradient(to right, rgba(255,120,171,1), rgba(117,179,220,1), rgba(138, 209, 241, 1));
    color: white;
}



.user-img-content-container{
    background: linear-gradient(180deg, rgba(255,255,255,1) 22%, rgba(138,209,241,1) 100%);
    min-height: 100vh;
    justify-content: center
}

.instagram-link-container a:hover{
    text-decoration: none;
    color: rgba(138,209,241,1)
}

.instagram-link-container a{
    
    color: black
}

.responsive-text{
    display:none;
}

figcaption{
    color: white;
    text-align: center;
    background:linear-gradient(to right, rgba(255,120,171,1), rgba(117,179,220,1), rgba(138, 209, 241, 1));
}

.settings-list-item-link{
    color: black;
    text-decoration: none;
    :hover {
        color:white;
        text-decoration-line: none;
        background: rgba(138, 209, 241, 1)
    }

    :visited{
        color:white;
        background: rgba(138, 209, 241, 1);
    }
   
}




.custom-active{
    background-color: rgba(138,209,241,1);
    opacity: 80%;
    border-color:  rgb(108, 168, 196);
    border-radius: 5px;
    z-index:2;
    color: white;
}

.change-picture-container{
    display:flex;
    flex-direction: column
}

.user-content-container{
    width:100%;
}

.profile-edit-bio{
    display:none;
}

.profile-options{
    text-align:center;
}

.update-img-option{
    display:none;
    text-align:center
}

@media only screen and (max-width: 900px) {
    // body {
    //   //background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, white), to(#8ad1f1));
    //   //background: linear-gradient(180deg, white 22%, #8ad1f1 100%);
    // }

    .page-container{
        display:flex;
        flex-direction: column;
        background: linear-gradient(180deg, white 22%, #8ad1f1 100%);
    }

    .mobile-heading-text{
        display: block;
        margin-top:3rem;
    }


    .change-picture-container{
        width: 100%;
        display:flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-evenly;

        .btn{
            margin:1rem;
        }  
    }

    .user-img-content-container{
        min-height:20rem !important ;
    }

    .user-content-name{
        display:none;
    }

    .profile-bio-text{
        text-align: center;
        
    }

    .responsive-text{
        display:block;
        
        top: 2rem;
        text-align: center;
        padding: 2rem;
        margin:1rem;
    }

    .change-picture-container{
        display:flex;
        flex-direction: row !important;
    }
    .user-img-content-container{
        background: none;
        min-height: 100vh;
        justify-content: flex-start;
        
        
    }

    .user-profile-img{
        width:25rem;
        height: 25rem;
        object-fit: cover;
        
    }

    .user-content-container{
        
        bottom:3rem;

        h5{
            display:none;
        }
    }

    .prsnl-profile-content-big-container{
        flex-direction: column;
        align-items: center
    }
// SETTINGS PAGE
    .settings-image{
        display:none!important;
    }
    
    .settings-update-image-btn{
        display:none!important;
    }

    .settings-page-container{
        height: 100vh !important;
    }

  }
